

.container	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.top {
	height: 100vh;
	background-image: url('./background.jpg');
	background-size: cover;	
    background-position: center center;
}

.second {
	height: 100vh;
}


.content {
	position: absolute;
	top: 0;
	left: 0;
    margin-top: 200px;
    text-align: center;
    width: 100%;
}


.header	{
    height: 100px;
    background-color: #3498db;
}

.header ul {
	margin: 0;
}

.header ul li {
	display: inline;
	margin: 15px;
}